.tt{
    display: inline-block;
    line-height: 20px;
}

/* a{
    
    margin-top: -37px;
    padding-right: 80px;
       line-height: 20px;

}

img{
    margin-left: 90px;
}
 */


 .ass{
    border-radius: 50%;
 }